body {
    font-family: Arial, sans-serif;
    background-color: #27083b;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: #562263;
    color: white;
    padding: 20px;
    margin: 0;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 40px;
    margin-top: 60px;
}


table, th, td {
    border: 1px solid rgb(178, 151, 201);
}

th, td {
    padding: 15px;
    text-align: left;
    color: white;
}

th {
    background-color: #662c92;
    color: white;
}

tr:nth-child(even) {
    background-color: #8860b6;
    color: white;
}

tr:hover {
    background-color: rgb(118, 90, 155);
}

button {
    background-color: #60468b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

button.delete {
    background-color: #f44336;
}

button:hover {
    background-color: #4c2f72;
}

button.delete:hover {
    background-color: #d32f2f;
}

/* Estilo para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}

.modal-content {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para o ícone de edição */
.edit-icon {
    cursor: pointer;
    color: #ffffff;
}
.edit-cell {
    padding: 5px; /* Ajuste o espaçamento conforme necessário */
}